body {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#espaco {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#astronauta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
