        * {
            margin: 0;
            padding: 0;
        }

        #espaco {
            min-height: 100vh;
            width: 100%;
            background: black url(imagens/espaco.jpg) center center no-repeat fixed;
            background-size: cover;
            position: relative;
            overflow: hidden;
        }

        #astronauta {
            background: url(imagens/astronauta.png) center center no-repeat;
            position: absolute;
            height: 400px;
            width: 400px;
            background-size: contain;

            left: 50%;
            top: 50%;

            transform: translate(-50%, -50%);
        }