body {
    background-color: #d6fde9;
}

h1 {
    color: #1e402f;
}

h1#principal {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2 {
    color: #3c805e;
}

.basico {
    color: #3c805e;
    font-weight: bold;
}

.intermediario {
    color: #80793c;
    font-weight: bold;
}

.avancado {
    color: #803c3c;
    font-weight: bold;
}

.destaque {
    background-color: rgba(197, 197, 96, 0.438) ;
}