@font-face {
    font-family: Android;
    src: url(fontes/idroid.otf);
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte--padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte--padrao);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    background-color: var(--cor2);
    padding-top: 40px;
    min-height: 150px;
}

header h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
}

header p {
    margin: auto;
    text-align: center;
    color: white;
    font-family: var(--fonte--padrao);
}

#menu {
    background-color: var(--cor5);
    padding: 10px;
}

#menu a {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .1s;
}

#menu a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
}

main img {
    width: 100%;
}

main strong {
    color: var(--cor3);
}

#historia h1 {
    font-family: Android;
    color: var(--cor4);
}

article h2{
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    font-weight: bold;
    text-indent: 8px;
}

section h2 {
    font-family: Android;
}

#bug-droid img {
    width: 100%;
    display: block;
    margin: auto;
    max-width: 350px;
}

#video-container {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

#video-container iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#extra {
    border-radius: 20px;
    padding: 10px;
    background-color: var(--cor0);
}

#extra h3 {
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    background-color: var(--cor3)
}

#extra > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}


footer p {
    padding: 0;
    margin: 0;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;

}

a.externo {
    font-weight: bold;
    text-decoration: none;
    color: #2fa866;
}

a.externo:hover {
    background-color: #2fa866;
    color: white;
    border-radius: 5px;
    font-size: 0.95em; 
    padding: 2px 4px; 
}

a.externo::after {
    content: '\1F517\00A0';
}



#fim {
    margin: 10px;
}